*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;  
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00ODYtYmctMDI5LWt6MG4zZ290LmpwZw.jpg);
    background-size: cover;
       background-position: center;
    
}

section {
    width: 100%;
    height: 10vh;
    position: relative;
}

section nav{
    width: 100%;
    top: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 100px #aaa11b;
    background: #e6b04ddf;
    position: fixed;
    left: 0;
    z-index: 100;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}

section nav ul{
    list-style: none;
}

section nav li{
    display: inline-block;
    padding: 0 10px;
}

section nav li a{
    text-decoration:none;
    font-weight: 550px;
    color: #0a0a0a;
    font-size: x-large;
    
}

section nav li a:hover{
    color:white;
}

section nav .social_icon i{
    color: #0a0a0a;
    margin: 0 5px;
    font-size: 20px;
}

section nav .social_icon i:hover{
    cursor: pointer;
    
}




/*Books*/

.featured_boks {
    width: 100%;
    height: auto;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}

.featured_boks h1 {
    margin-bottom: 30px;
    font-size: 60px;
    text-decoration: underline;
}

.featured_boks .featured_book_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}



.featured_boks .featured_book_box .featured_book_card {
    width: calc(33.33% - 20px); 
    height: 400px;
    margin-bottom: 20px; 
}


.featured_boks .featured_book_box .featured_book_card:hover{
    box-shadow: 0 0 5px #a18708;
    transform: scale(1.1); 
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_img img{
    width: 150px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag h2{
    margin: 12px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .writer{
    color: #919191;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .categories{
    color: #a18708;
    margin-top: 8px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 15px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price sub{
    font-weight: 100;
    padding: 0 5px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .f_btn{
    padding: 8px 20px;
    border: 2px solid #e78d10;
    text-decoration: none;
    color: #000;
}

::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb{
    background: #a18708;
    border-radius: 10px;
}