*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;  
}

body{
    width: 100%;
    height: 100vh;
   
}

section {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00ODYtYmctMDI5LWt6MG4zZ290LmpwZw.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

section nav{
    width: 100%;
    top: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 100px #aaa11b;
    background:#e6b04ddf;
    position: fixed;
    left: 0;
    z-index: 100;
}

section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}
section nav ul{
    list-style: none;
}

section nav li{
    display: inline-block;
    padding: 0 10px;
}

section nav li a{
    text-decoration:none;
    font-weight:550px;
    color: #0a0a0a;
    font-size:x-large;
    
    
}

section nav li a:hover{
    color: white;
}

section nav .social_icon i{
    color: #0a0a0a;
    margin: 0 5px;
    font-size: 20px;
    
}
section nav .social_icon i:hover{
    cursor: pointer;
    
}

.reviews {
    width: 100%;
    height: auto;
    position: absolute;
    top: 100px; 
    left: 0;
    z-index: 2; 
}

.reviews h1{
    text-align: center;
    font-size: 60px;
    margin-top: 5px;
    text-decoration: underline;
    
}

.reviews .review_box{
    width: 95%;
    height: 50vh;
    margin: 80px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    float: inline-end;
}

.reviews .review_box .review_card{
    width: 400px;
    height: 400px;
    box-shadow: 0 0 8px #b73f04;
    padding: 15px;
    margin: 0 12px;
    
}

.reviews .review_box .review_card i{
    float: right;
    font-size: 120px;
    position: relative;
    bottom: 20px;
    color: #060606;
}

.reviews .review_box .review_card .card_top img{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.reviews .review_box .review_card .card p{
    margin: 10px 0 10px 0;
    text-align: justify;
    line-height: 22px;
}

.reviews .review_box .review_card .card .review_icon i{
    font-size: 20px;
    float: left;
    margin-top: 18px;
    color: #0b0b0b;
    padding: 0 1px;
    
}